@media screen and (min-width:1366px) {

body{overflow-x: hidden;}

#productBathBox{width: 100%; height: auto;}

.bathpro_head{position: relative; width: 100%; height: auto;}

.bathpro_head>h2{position: absolute;
          top:0; margin-top:-45px; left:50%; margin-left: -45px;
          z-index: 100;
          width: 90px; height: 90px;
          background-image: url("../../../../../img/bath/bath_c.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;}

.producttext{width:100%; height: 100%;
             box-sizing: border-box; padding-top: 10rem;}
.producttext>h3{font-size: 2.5rem; text-align: center; font-weight: 900; color:#121212;}
.producttext>p{ width: 50%; margin:auto;
                font-size: 1.7rem; text-align: center; color: #121212; margin-top: 1rem;}


.bathpro_box{position: relative; width: 70%; height: auto; margin:auto; margin-top: 5rem;}

.pro{float: left; width: 32%; height:50.3645833vw;
     background-image: url("../../../../../img/bath/pro_1_i.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;}


.list{float: left; width: 15%; /*height: 55.3645833vw;*/ height: auto;/* margin-left:1%;*/
    margin-left: 3%; margin-right: 3%;}


.pro_text{float: left; width: 46%; /*height: 55.3645833vw;*/ height: auto; /*margin-left:3%;*/
          box-sizing: border-box;/* padding-top: 5%;*/ padding: 1.5rem 0; }
/*.video_wrap{position: absolute;left: 0;  bottom:-40.3645833vw; width:100vw; height: 40.3645833vw; background-color: #c22; }*/
.pro_video{position: relative; left: 50%; margin-left:-50vw; width: 100vw; height: 30.3645833vw;
          overflow: hidden;float: left; margin-top: 5rem; box-shadow: 0 1rem 1rem rgba(0,0,0,0.7);}
.video_wrap{left:0; top:0;width: 100%; height: 100%;}
.video_wrap>video{width: auto; height: auto; min-width: 100%; min-height: 100%;
                  overflow: hidden;}

.video{display: none;}

.pro_box{ width: 100%; height: 100%;}

.pro_box>h4{width: 80%; height: 3.5rem;
           background-image: url("../../../../../img/bath/pro_1.svg");
           background-position: left;
           background-repeat: no-repeat;
           background-size: contain;}

.pro_box>dl{margin-top: 4rem; /*width: 70%;*/ width: 100%;}
.pro_box>dl>dt{margin-top:1.3rem; margin-bottom: 0.5rem; font-weight: 900;
               font-size: 1.5rem;}
.pro_box>dl>dd{ font-size: 1.2rem;}
.pro_box>dl>dd:nth-child(4){margin-bottom: 1rem;}

.list>ul{width: 100%; height: 100%;}
.list>ul>li{width: 100%; height: auto;margin-bottom: 1rem;
            color: #fff; font-size: 1.3rem; font-weight: 900; text-align: center;}
      
.list>ul>li>a{box-sizing: border-box; padding-top: 1rem;
    padding-bottom: 1rem;
  display: block; width: 100%; height: auto; color: inherit;}      
.list>ul>li>a:hover{background-color: rgba(0,0,0,0.4);}
.list>ul>li:nth-child(1){background-color: #007696;}
.list>ul>li:nth-child(2){background-color: #095580;}
.list>ul>li:nth-child(3){background-color: #3F1550}
.list>ul>li:nth-child(4){margin-bottom: 0; background-color:#B03158; }



/*.pro_1{display: none;}*/
.pro_2{display: none;}
.pro_3{display: none;}
.pro_4{display: none;}


/*.pro_vid_01{display: none;}*/
.pro_vid_02{display: none;}
.pro_vid_03{display: none;}
.pro_vid_04{display: none;}


}