@media screen and (min-width:1366px) {

.newsBox{position: relative; width: 50%; height: 50vw; max-height: 748px; margin: auto; margin-top: 10rem; margin-bottom: 10rem;}

.newslogo{position: absolute;
          top:-10rem; margin-top:-45px; left:50%; margin-left: -45px;
          z-index: 100;
          width: 90px; height: 90px;
          background-image: url("../../../../../img/brand/brand_c.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;}

.news_01{width: 100%; height: 50%; float: left; }
.news_01_i{width:50%; height: 100%; float: left;

          background-image: url('../../../../../img/brand/news_01_i.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          }

.news_01_text{position: relative; width: 50%; height: 100%; float: right;}
.news_01_text dl{width: 100%; height: 100%;
            box-sizing: border-box; padding: 1rem; padding-top: 5%;}
.news_01_text dl>dt{width: 100%; height: 3.5rem; font-size:2.5rem; font-weight: 900; text-align: center;
            }
.news_01_text dl>dd{width: 80%; max-width: 334px; height: auto; margin: auto;
                        font-size: 1rem; font-weight: 600; text-align: center;
                        padding-bottom: 3rem;}


  .video_btn{position: absolute; left:50%; margin-left:-65px; bottom:15%; width: 130px; height: 30px; border:3px solid #121212;
   font-weight: 600; font-size: 1rem; line-height: 30px; text-align: center;
    transition: all 400ms linear;}

.video_btn>a{display: block; width: 100%; height: 100%;}
.video_btn>a:hover{background-color: #121212; color: #fff;
                     transition: all 400ms linear;}


.news_02{width: 100%; height: 50%; float: left;}
.news_02_i{width:50%; height: 100%; float: left;

          background-image: url('../../../../../img/brand/news_02_i.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          }

.news_02_text{width: 50%; height: 100%; position: relative; float: left;}
.news_02 dl{width: 100%; height: 100%;
             box-sizing: border-box; padding: 1rem; padding-top: 8%;}
.news_02 dl>dt{width: 100%; height: 3.5rem; font-size:2.5rem; font-weight: 900; text-align: center;
            }
.news_02 dl>dd{width: 80%; max-width: 334px; height: auto; margin: auto;
                        font-size: 1rem; font-weight: 600; text-align: center;
                        padding-bottom: 3rem;}


.read_btn{position: absolute; left:50%; margin-left:-65px; bottom:15%; width: 130px; height: 30px; border:3px solid #121212;
 font-weight: 600; font-size: 1rem; line-height: 30px; text-align: center;
  transition: all 400ms linear;}

.read_btn>a{display: block; width: 100%; height: 100%;}
.read_btn>a:hover{background-color: #121212; color: #fff;
                     transition: all 400ms linear;}



}
