@media screen and (min-width:1366px) {

#brandTabBox{position: relative;
  width: 100%; height: auto; min-height: 3500px; background-color: #fff;}

.tab_box{position: absolute; z-index: 300; top: -5%; left: 17.5%;  
  width: 65%; height: auto; min-height: 3000px; background-color: #fff}

.tab_box>ul{
           width: 100%; height: 350px; margin: auto;
           background-color: #fff;}
.tab_box>ul>li{ box-sizing: border-box; padding: 3rem ;
                width: 32%; margin-right: 2%; height: 100%; float: left;}

.story{width: 100%; height:65%;
       background-image: url('../../../../../img/brand/story_i.png');
       background-size: 60%;
       background-position: center;
       background-repeat: no-repeat;
       }
.story_text{box-sizing: border-box;
            padding-top: 1rem;
            width: 100%; height: 35%;}
.story_text>h2{text-align: center; font-size:2rem; font-weight: 900;}
.story_text>h3{box-sizing: border-box;
              padding-top: 1.5rem;font-weight: 600;
              text-align: center; font-size: 1.2rem;}

.believe{width: 100%; height:65%;
       background-image: url('../../../../../img/brand/believe_i.png');
       background-size: 60%;
       background-position: center;
       background-repeat: no-repeat;
       }
.believe_text{box-sizing: border-box;
            padding-top: 1rem;
            width: 100%; height: 35%;}
.believe_text>h2{text-align: center; font-size:2rem; font-weight: 900;}
.believe_text>h3{box-sizing: border-box;
              padding-top: 1.5rem;font-weight: 600;
              text-align: center; font-size: 1.2rem;}

.green{width: 100%; height:65%;
       background-image: url('../../../../../img/brand/green_i.png');
       background-size: 60%;
       background-position: center;
       background-repeat: no-repeat;
       }
.green_text{box-sizing: border-box;
            padding-top: 1rem;
            width: 100%; height: 35%;}
.green_text>h2{text-align: center; font-size:2rem; font-weight: 900;}
.green_text>h3{box-sizing: border-box;
              padding-top: 1.5rem;font-weight: 600;
              text-align: center; font-size: 1.2rem;}

/*==================================================================*/
.tab_box>ul>li:last-child{margin-right: 0;}
.tab_box li>a{display: block; width: 100%; height: 100%;}
.tab_box li.select{text-decoration: underline;}

.tab_text{box-sizing:border-box; padding: 1rem;
          position: relative; 
          width: 100%; height:400px;}

.tab_text>div{width: 100%; height: 100%; display: none;}

.tab_text>div.select{display: block;} 

.story_1{
  width: 28vw; height: 30.64vw;  margin: auto; margin-top: 3rem;
  background-image: url('../../../../../img/brand/story_1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;}

.story_t_1{box-sizing: border-box; padding-top: 10rem;
            width: 500px; height:600px;margin:auto; 
            font-size: 1rem;}
.arrow_1{ position: absolute; top:110%; left: 15%;
            width: 15.04vw; height: 15.229vw; 
            transform: rotateY(180deg);
            background-image: url('../../../../../img/bath/15items_arrow.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;}
.story_t_1>span{font-size: 2rem; font-weight: 900;}


.story_2{
  width: 90%; height: 30vw; margin:auto;
  background-image: url('../../../../../img/brand/story_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow_2{ position: relative; top:-5rem; left: 65%;
            width: 15.04vw; height: 15.229vw; 
/*            transform: rotateY(180deg);*/
            background-image: url('../../../../../img/bath/15items_arrow.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;}

.story_t_2{float: right;
  width: 500px; height: 350px; margin-right: 5%; }
.story_t_2>dt{text-align: right; font-size: 2rem; font-weight: 900;}
.story_t_2>dd{text-align: right; margin-top: 1.5rem; font-size: 1rem;}

 .story_3_box{width: 100%; height: 20vw; float: left;}

.story_3{margin-top: 1rem; margin-left: 2%;
  width: 30%; height:20vw; float: right;
  background-image: url('../../../../../img/brand/story_3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;}

 .story_t_3 {box-sizing: border-box; padding-top: 10rem; float: right; width: 35%; height: auto; margin-top: 3rem;}
 .story_t_3>dt{text-align: right; font-size: 2rem; font-weight: 900;}
 .story_t_3>dd{text-align: right; margin-top: 1.5rem; font-size: 1rem;}
}
