@media screen and (min-width:768px) and (max-width:980px) {

.infoBrandBox{width: 100%; height: auto;}

.news_03{width: 100%; height: 28vw; background-image: url('../../../../../img/brand/news_03_i.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;}


.infoText{box-sizing: border-box; padding-top: 9%;
          width: 60%; height: 80%; margin: auto;}
.infoText>h3{font-size: 3rem; text-align: center; font-weight: 900;}
.infoText>p{font-size: 1.5rem; text-align: center; font-weight: 600;}

.info_01{width: 85%; height: 350px; margin: auto; margin-bottom: 4rem;
         margin-top: 5rem;
        transform:translateY(5rem);
         transition:all 800ms ease;
         opacity: 0;}
.info_01.active{opacity: 1; transform:rotate(0) translate(0,0);} 

.info_01_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_1.jpg');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;}
.info_01>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px;height: 100%; float: right;}
.info_01 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_01 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}



.info_02{width: 85%; height: 350px; margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_02.active{opacity: 1; transform:rotate(0) translate(0,0);} 

.info_02_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_2.jpg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;}
.info_02>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%;min-width:320px; height: 100%;float: right;}
.info_02 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_02 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}



.info_03{width: 85%; height: 350px;margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_03.active{opacity: 1; transform:rotate(0) translate(0,0);}


.info_03_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_3.jpg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;}
.info_03>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px;height: 100%;float: right;}
.info_03 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_03 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}


.info_04{width: 85%; height: 350px;margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_04.active{opacity: 1; transform:rotate(0) translate(0,0);}

.info_04_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_4.jpg');
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center;}
.info_04>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%;min-width:320px; height: 100%; float: right;}
.info_04 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_04 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}

}



@media screen and (min-width:981px) and (max-width:1150px) {

.infoBrandBox{width: 100%; height: auto;}

.news_03{width: 100%; height: 28vw; background-image: url('../../../../../img/brand/news_03_i.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;}


.infoText{box-sizing: border-box; padding-top: 9%;
          width: 60%; height: 80%; margin: auto;}
.infoText>h3{font-size: 3rem; text-align: center; font-weight: 900;}
.infoText>p{font-size: 1.5rem; text-align: center; font-weight: 600;}

.info_01{width: 70%; height: 350px; margin: auto; margin-bottom: 4rem;
         margin-top: 5rem; transform:translateY(5rem);
         transition:all 800ms ease;
         opacity: 0;}
.info_01.active{opacity: 1; transform:rotate(0) translate(0,0);} 

.info_01_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_1.jpg');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;}
.info_01>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px;height: 100%; float: right;}
.info_01 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_01 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}



.info_02{width: 70%; height: 350px; margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_02.active{opacity: 1; transform:rotate(0) translate(0,0);} 

.info_02_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_2.jpg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;}
.info_02>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%;min-width:320px; height: 100%;float: right;}
.info_02 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_02 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}



.info_03{width: 70%; height: 350px;margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_03.active{opacity: 1; transform:rotate(0) translate(0,0);}

.info_03_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_3.jpg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;}
.info_03>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px;height: 100%;float: right;}
.info_03 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_03 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}


.info_04{width: 70%; height: 350px;margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_04.active{opacity: 1; transform:rotate(0) translate(0,0);}

.info_04_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_4.jpg');
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center;}
.info_04>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%;min-width:320px; height: 100%; float: right;}
.info_04 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_04 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}

}

@media screen and (min-width:1151px) and (max-width:1365px) {


.infoBrandBox{width: 100%; height: auto;}

.news_03{width: 100%; height: 25vw; background-image: url('../../../../../img/brand/news_03_i.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;}


.infoText{box-sizing: border-box; padding-top: 9%;
          width: 60%; height: 80%; margin: auto;}
.infoText>h3{font-size: 3.5rem; text-align: center; font-weight: 900;}
.infoText>p{font-size: 2rem; text-align: center; font-weight: 600;}

.info_01{width: 70%; height: 350px; margin: auto; margin-bottom: 4rem;
         margin-top: 5rem;
                  transform:translateY(5rem);
         transition:all 800ms ease;
         opacity: 0;}
.info_01.active{opacity: 1; transform:rotate(0) translate(0,0);} 


.info_01_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_1.jpg');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;}
.info_01>dl{box-sizing:border-box; padding: min-width:320px;5rem 2rem;
            width: 50%; min-width:320px; height: 100%; float: right;}
.info_01 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_01 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}



.info_02{width: 70%; height: 350px; margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_02.active{opacity: 1; transform:rotate(0) translate(0,0);} 
.info_02_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_2.jpg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;}
.info_02>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px; height: 100%;float: right;}
.info_02 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_02 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}



.info_03{width: 70%; height: 350px;margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_03.active{opacity: 1; transform:rotate(0) translate(0,0);}

.info_03_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_3.jpg');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;}
.info_03>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px; height: 100%;float: right;}
.info_03 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_03 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}


.info_04{width: 70%; height: 350px;margin: auto; margin-bottom: 4rem;
  transform:translateY(5rem);
transition:all 800ms ease;
opacity: 0;}

.info_04.active{opacity: 1; transform:rotate(0) translate(0,0);}

.info_04_i{width: 50%; height: 100%; float: left;
        background-image: url('../../../../../img/brand/info_4.jpg');
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center;}
.info_04>dl{box-sizing: border-box; padding: 5rem 2rem;
            width: 50%; min-width:320px; height: 100%; float: right;}
.info_04 dt{width: 100%; font-size: 2rem; font-weight: 900;}
.info_04 dd{width: 80%; font-size: 1rem; font-weight: 600; margin-top: 1rem;}

}

