@media screen and (min-width:481px) and (max-width:767px){
  #eventBox{position: relative; width: 100%; height: 400px; background-color: #555;}

  #eventBox>h2{position: absolute;
          top:0; margin-top:-35px; left:50%; margin-left: -35px;
          width: 70px; height: 70px;
          background-image: url("../../../../../img/main/2018_event_c.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          }



  .event_slide_btn{position: absolute; top:43%; left: 10%; margin-top:-10px;
    width: 80%;}

  .event_slide_btn>button{width: 2.5rem; height: 2.5rem; }

/*  .event_slide_btn>button:hover,
  .event_slide_btn>button:focus{background-color:rgba(50,50,100,0.8); color:#fff;}

  .event_prev_btn{float: left;}
  .event_next_btn{float: right;}
*/
  .event_prev_btn{float: left;
   background-image: url("../../../../../img/main/ev_left-arrow.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;}
  .event_next_btn{float: right;
   background-image: url("../../../../../img/main/ev_right-arrow.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;}

  .event_prev_btn:hover,
  .event_prev_btn:focus{background-image: url("../../../../../img/main/ad_left-arrow_h.svg");}
   

  .event_next_btn:hover,
  .event_next_btn:focus{background-image: url("../../../../../img/main/ad_right-arrow_h.svg")}




  /* .indicator */
    .indicator{position:absolute; bottom:1rem; left: 50%; margin-left: -70px;
      width: 140px; height: 40px;}
    .indicator>li{float:left; width:20px; height:20px; margin-right:20px; border-radius: 100%;
                  border: 2px solid #fff;}
    .indicator>li:last-child{margin-right: 0;}
    .indicator>li>a{display: block; width: 100%; height: 100%; border-radius:100%;}

    .indicator>li.active>a{background-color: #121212;}
    
    .indicator>li>a:hover{background-color: #fff;}
    .indicator>li>a:focus{background-color: #fff;}


    .event_wrap{
            padding-top: 5rem;
            margin:auto; width: 60%; height:60%; overflow: hidden; }
    .event{width: 300%; height: 100%;}
    


    .event_1{float:left; width:33.333333%; height:100%;}

    .event_1_img{width: 50%; min-width: 150px; height: 100%;  float: left;
          background-image: url("../../../../../img/main/event_1.JPG");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;}
    
    .event_1_text{box-sizing: border-box; padding-top: 2rem; float: right;
                  width: 45%; height: 100%;}
    .event_1_text>p{width: 100%; height: 70%; 
                   font-size: 1.3rem; font-weight: 900; color: #fff;}


    .event_2{float:left; width:33.333333%; height:100%;}

    .event_2_img{width: 50%; min-width: 150px; height: 100%;  float: left;
          background-image: url("../../../../../img/main/event_2.JPG");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;}
    
    .event_2_text{box-sizing: border-box; padding-top: 2rem; float: right;
                  width: 45%; height: 100%;}
    .event_2_text>p{width: 100%; height: 70%; 
                   font-size: 1.3rem; font-weight: 900; color: #fff;}
 

    .event_3{float:left; width:33.333333%; height:100%;}

    .event_3_img{width: 50%; min-width: 150px; height: 100%;  float: left;
          background-image: url("../../../../../img/main/event_3.JPG");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;}
    
    .event_3_text{box-sizing: border-box; padding-top: 2rem; float: right;
                  width: 45%; height: 100%;}
    .event_3_text>p{width: 100%; height: 70%;
                   font-size: 1.3rem; font-weight: 900; color: #fff;}






    .play{width: 35px; height: 35px; float: left;
          margin-top: 1rem;
          background-image: url("../../../../../img/main/play_btn.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;}

    .play>a{display:block; width: 100%; height: 100%;}
    .play>a:hover{width: 35px; height: 35px; float: left;
          background-image: url("../../../../../img/main/play_h_btn.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;}    

}