@media screen and (min-width:1366px) {
#bestBox{position: relative; width: 100%; height: 12vw; min-height: 2600px;}

#bestBox>h2{position: absolute;
          top:0; margin-top:-45px; left:50%; margin-left: -45px;
          width: 90px; height: 90px;
          background-image: url("../../../../../img/main/best_product_c.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          }



  .weeklyBox{
      box-sizing: border-box; padding-top: 4rem;
      margin:auto; width: 60%; height: 50%;}





  .weekly_text{position: relative; width:370px; height: 250px;
   background-image: url("../../../../../img/main/w_best.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% auto;
   margin-bottom: 5rem;
   transform:rotate(45deg) translate(-10rem, 5rem);
   transition:all 500ms ease;
   opacity: 0;
   }


  .weekly_text.active,
  .weekly_1.active,
  .weekly_2.active,
  .weekly_3.active
  {opacity: 1; transform:rotate(0) translate(0,0);}



  .w_arrow{position: absolute; width: 300px; height: 420px;
   left:80%; top:0;
   background-image: url("../../../../../img/main/best_arrow.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain; }

  .weeklyBox>ul{width: 100%; height: 80%;}
  .weeklyBox>ul>li{height: 28.5%;}

  .weekly_1{box-sizing: border-box; padding-top: 8rem; 
            margin:auto; width:80%;  margin-bottom: 5%;
            
            transform:translateY(5rem);
            transition:all 800ms ease;
            opacity: 0; }


  .weekly_1>div{float: right; width: 50%; min-width: 240px; min-height:300px; 
   margin-top: -220px;
   background-image: url("../../../../../img/main/w_b_1.png");
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: contain;}
  .weekly_1 dl{box-sizing: border-box; padding-right: 0.5rem;
               text-align: right; width: 100%; height: 100%;}
  .weekly_1 dl>dt{color: #fff;font-size: 1.5rem; font-weight: 900;}
  .weekly_1 dl>dd{color: #fff;font-size: 1.2rem; font-weight: 600;margin-top:0.5rem;}

  .weeklyBox li>a{display: block; width: 100%; height: 100%;}


  .weekly_1 a:hover dt,.weekly_1 a:focus dt,
  .weekly_1 a:hover dd,.weekly_1 a:focus dd{text-decoration: underline;}






  .weekly_2{float:right; width: 80%;  
    margin-right: -4rem;
    margin-bottom: 2%;

    transform:translateY(5rem);
    transition:all 800ms ease;
    opacity: 0;}


  .weekly_2>div{
   float: right; width: 40%; min-width:100px;min-height: 190px; 
   height: 320px; margin-top: -5rem; 
   background-image: url("../../../../../img/main/w_b_2.png");
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .weekly_2 dl{box-sizing: border-box; padding-left: 1rem;
               padding-top: 10rem; text-align: right; width: 100%; height: 100%; }
  .weekly_2 dl>dt{color: #fff;font-size: 1.5rem; font-weight: 900; }
  .weekly_2 dl>dd{color: #fff;font-size: 1.3rem; font-weight: 600;  margin-top:0.5rem;}

  .weekly_2>li>a{display: block; width: 100%; height: 100%;}


  .weekly_2 a:hover dt,.weekly_1 a:focus dt,
  .weekly_2 a:hover dd,.weekly_1 a:focus dd{text-decoration: underline;}




  .weekly_3{float:left; margin-left: 3%; width: 80%; margin-top: -10rem;
            transform:translateY(5rem);
            transition:all 800ms ease;
            opacity: 0;}


  .weekly_3>div{
   float: left; width: 50%; height: 280px; min-height: 200px; margin-top: -5px;
   margin-right: -2rem;
   background-image: url("../../../../../img/main/w_b_3.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .weekly_3 dl{box-sizing: border-box;
               text-align: left; width: 100%; height: 100%;margin-top:3rem;}
  .weekly_3 dl>dt{color: #fff;font-size: 1.5rem; font-weight: 900; }
  .weekly_3 dl>dd{color: #fff;font-size: 1.3rem; font-weight: 600; margin-top:0.5rem;}

  .weekly_3>li>a{display: block; width: 100%; height: 100%;}



  .weekly_3 a:hover dt,.weekly_1 a:focus dt,
  .weekly_3 a:hover dd,.weekly_1 a:focus dd{text-decoration: underline;}









.mdBox{
       box-sizing: border-box;
       padding-bottom: 2rem;  
       margin:auto;width: 60%; height: 50%;}


.md_text{position: relative; 
 margin:auto; width: 500px; height: 250px;
 background-image: url("../../../../../img/main/md.svg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 margin-bottom: 5rem;

   transform:rotate(45deg) translate(-10rem, 5rem);
   transition:all 800ms ease;
   opacity: 0;
   }


  .md_text.active,
  .md_1.active,
  .md_2.active,
  .md_3.active
  {opacity: 1; transform:rotate(0) translate(0,0);}





  .m_arrow{position: absolute; right: 0; margin-right: 20rem; top:5rem;
           width: 500px; height: 400px;

           background-image: url("../../../../../img/main/md_arrow.svg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: contain;}




  .mdBox>ul{width: 100%; height: 80%;}
  .mdBox>ul>li{height: 28.5%;}


  .md_1{box-sizing: border-box; padding-top: 3rem; float:right; 
    margin-right: 2%; width: 100%;
    transform:translateY(5rem);
    transition:all 800ms ease;
    opacity: 0;}

  .md_1>div{width: 60%; min-width:310px ; height:220px; min-height: 200px; margin-top: -2rem; 
   margin-left: -2rem;
   float: right;
   background-image: url("../../../../../img/main/m_1.png");
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: contain;
  }


  .md_1 dl{box-sizing: border-box; padding-top: 5rem;
   text-align: right; width: 100%; height: 100%;}
  .md_1 dl>dt{color: #fff;font-size: 1.5rem; font-weight: 900;}
  .md_1 dl>dd{color: #fff;font-size: 1.3rem; font-weight: 600; margin-top:0.5rem;}

  .md_1>li>a{display: block; width: 100%; height: 100%;}


  .md_1 a:hover dt,.weekly_1 a:focus dt,
  .md_1 a:hover dd,.weekly_1 a:focus dd{text-decoration: underline;}




 
  .md_2{
        box-sizing: border-box; padding-top: 5rem;
        float:left; margin-left: 4%; width: 80%;  margin-bottom: 5%;
        transform:translateY(5rem);
        transition:all 800ms ease;
        opacity: 0; }

  .md_2>div{
   margin-right: -2rem;
   float: left; width: 30%; min-width: 200px; height: 320px; min-height: 300px;
   background-image: url("../../../../../img/main/m_2.png");
   background-position: center left;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .md_2 dl{box-sizing: border-box;padding-top: 6rem;
               text-align: left; width: 100%; height: 100%; }
  .md_2 dl>dt{color: #fff;font-size: 1.5rem; font-weight: 900;}
  .md_2 dl>dd{color: #fff;font-size: 1.3rem; font-weight: 600; margin-top:0.5rem;}

  .md_2>li>a{display: block; width: 100%; height: 100%;}


  .md_2 a:hover dt,.weekly_1 a:focus dt,
  .md_2 a:hover dd,.weekly_1 a:focus dd{text-decoration: underline;}





  

  .md_3{box-sizing: border-box; padding-top: 5rem; margin-bottom: 10rem;
        float:right; width: 80%;
        transform:translateY(5rem);
        transition:all 800ms ease;
        opacity: 0; }


  .md_3>div{
   float: right; width: 42%; min-width: 220px; height: 300px; min-height: 250px; margin-top: -120px; margin-right: -7rem;
   background-image: url("../../../../../img/main/m_3.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .md_3 dl{text-align: right; width: 73%; height: 100%;  margin-top:-5rem;}
  .md_3 dl>dt{color: #fff;font-size: 1.5rem; font-weight: 900; }
  .md_3 dl>dd{color: #fff;font-size: 1.3rem; font-weight: 600; margin-top:0.5rem;}

  .md_3>li>a{display: block; width: 50%; height: 100%;}


  .md_3 a:hover dt,.weekly_1 a:focus dt,
  .md_3 a:hover dd,.weekly_1 a:focus dd{text-decoration: underline;}

}