@media screen and (max-width:480px) {
#bestBox{position: relative; width: 100%; height: 312vw; min-height: 2500px;}

#bestBox>h2{position: absolute;
          top:0; margin-top:-30px; left:50%; margin-left: -30px;
          width: 60px; height: 60px;
          background-image: url("../../../../../img/main/best_product_c.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          }


.weeklyBox{box-sizing: border-box; padding-top: 3rem;
  margin:auto; width: 100%; height: 50%;}
.weekly_text{width: 60%; height: 15%; margin: auto;
  margin-bottom: 5rem;
 background-image: url("../../../../../img/main/w_best.svg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100%;
}

.weeklyBox>ul{width: 100%; height: 80%;}
.weeklyBox>ul>li{height: 28.5%;}

  .weekly_1{margin:auto; width: 100%;  margin-bottom: 2%;}
  .weekly_1>div{
   width: 60%; min-width: 260px; height: 65%; min-height:200px; margin:auto;
   background-image: url("../../../../../img/main/w_b_1.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: 100%;
  }
  .weekly_1 dl{text-align: center; width: 90%; height: 30%; 
               margin:auto;}
  .weekly_1 dl>dt{color: #fff;font-size: 1.1rem; font-weight: 900; }
  .weekly_1 dl>dd{color: #fff;font-size: 0.9rem; font-weight: 600; }

  .weeklyBox li>a{display: block; width: 100%; height: 100%;}


  .weekly_2{margin:auto; width: 100%;  margin-bottom: 2%;}
  .weekly_2>div{
   width: 60%; min-width: 300px; height: 68%; min-height:200px; margin:auto;
   background-image: url("../../../../../img/main/w_b_2.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .weekly_2 dl{text-align: center; width: 90%; height: 30%; 
               margin:auto; margin-top: 1rem;}
  .weekly_2 dl>dt{color: #fff;font-size: 1.1rem; font-weight: 900; }
  .weekly_2 dl>dd{color: #fff;font-size: 0.9rem; font-weight: 600; }

  .weeklyBox li>a{display: block; width: 100%; height: 100%;}


  .weekly_3{margin:auto; width: 100%;  margin-bottom: 2%;}
  .weekly_3>div{
   width: 60%; min-width: 300px; height: 68%; min-height:200px; margin:auto;
   background-image: url("../../../../../img/main/w_b_3.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .weekly_3 dl{text-align: center; width: 90%; height: 30%; 
               margin:auto; margin-top: 1rem;}
  .weekly_3 dl>dt{color: #fff;font-size: 1.1rem; font-weight: 900; }
  .weekly_3 dl>dd{color: #fff;font-size: 0.9rem; font-weight: 600; }

  .weeklyBox li>a{display: block; width: 100%; height: 100%;}



.mdBox{margin:auto; width: 80%; height: 50%;}

.md_text{box-sizing: border-box; padding-top: -10rem;
 width: 90%; height: 20%; margin: auto;
 background-image: url("../../../../../img/main/md.svg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;}


.mdBox>ul{width: 100%; height: 80%;}
.mdBox>ul>li{height: 28.5%;}


  .md_1{margin:auto; width: 100%;  margin-bottom: 2%;}
  .md_1>div{
   width:10%; min-width: 300px; height: 68%; min-height:200px; margin:auto;
   background-image: url("../../../../../img/main/m_1.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .md_1 dl{text-align: center; width: 100%; height: 30%; 
          margin:auto; margin-top: 1rem;}
  .md_1 dl>dt{color: #fff;font-size: 1.1rem; font-weight: 900; }
  .md_1 dl>dd{color: #fff;font-size: 0.9rem; font-weight: 600; }


  .md_2{margin:auto; width: 100%;  margin-bottom: 2%;}
  .md_2>div{
   width:10%; min-width: 300px; height: 68%; min-height:200px; margin:auto;
   background-image: url("../../../../../img/main/m_2.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .md_2 dl{text-align: center; width: 100%; height: 30%; 
          margin:auto; margin-top: 1rem;}
  .md_2 dl>dt{color: #fff;font-size: 1.1rem; font-weight: 900; }
  .md_2 dl>dd{color: #fff;font-size: 0.9rem; font-weight: 600; }



  .md_3{margin:auto; width: 100%;  margin-bottom: 1%;}
  .md_3>div{
   width:10%; min-width: 300px; height: 68%; min-height:200px; margin:auto;
   background-image: url("../../../../../img/main/m_3.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: contain;
  }
  .md_3 dl{text-align: center; width: 100%; height: 30%; 
          margin:auto; margin-top: 1rem;}
  .md_3 dl>dt{color: #fff;font-size: 1.1rem; font-weight: 900; }
  .md_3 dl>dd{color: #fff;font-size: 0.9rem; font-weight: 600; }



  .mdBox li>a{display: block; width: 100%; height: 100%;}





}
