@media screen and (max-width:480px) {

#adPerfumeBox{widows: 100%; height: 300px;}
.adtext{width: 100%; height: 200px; margin:auto;
        box-sizing: border-box; padding-top: 5rem;}
.adtext>h2{margin-bottom: 1rem; font-size: 2rem; text-align: center; font-weight: 900; color: #fff;}
.adtext>h3{font-size: 1rem; text-align: center; font-weight: 600; color: #fff;}



}