@media screen and (min-width:481px) and (max-width:767px){
  #footBox{width: 100%; height: 350px; background-color: #121212;}

  .foot{box-sizing: border-box; padding-top: 10rem; margin:auto;
        width:90%; height: 100%; background-repeat: #333; 
        position: relative;}
  .foot>ul{width: 100%; height: 80%;}
  .foot>ul>li{width: 32%;}
  .foot>ul>.l_foot{height: 80%; float: left; margin-right: 2%; }
  .l_foot>h2{height:40%; width: 80%; margin-bottom: 1rem; margin-top: -1rem;
              background-image: url("../../../../../img/main/lush_logo.png");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;}



  .l_foot>.sns{height: auto; width: 100%;}
  .facebook{float: left; width: 25px; height: 25px;
              background-image: url("../../../../../img/main/facebook.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;}
  .instagrame{float: left; width: 25px; height: 25px; margin-right: 0.4rem;
              background-image: url("../../../../../img/main/instagram.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;}
  .youtube{float: left; width: 25px; height: 25px; margin-right: 0.4rem;
              background-image: url("../../../../../img/main/youtube.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;}
  .twitter{float: left; width: 25px; height: 25px;
              background-image: url("../../../../../img/main/twitter.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;}

    .facebook>a{display: block; width: 100%; height: 100%;}
    .facebook>a:hover{float: left; width: 25px; height: 25px;
              background-image: url("../../../../../img/main/facebook_h.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;

    }
    .instagrame>a{display: block; width: 100%; height: 100%;}
    .instagram>a:hover{float: left; width: 25px; height: 25px;
              background-image: url("../../../../../img/main/instagram_h.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;

    }
    .youtube>a{display: block; width: 100%; height: 100%;}
    .youtube>a:hover{float: left; width: 25px; height: 25px;
              background-image: url("../../../../../img/main/youtube_h.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;

    }
    .twitter>a{display: block; width: 100%; height: 100%;}
    .twitter>a:hover{float: left; width: 25px; height: 25px;
              background-image: url("../../../../../img/main/twitter_h.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;

    }




  .foot>ul>.m_foot{height: auto;position: absolute; 
                    left: 50%; margin-left: -70px;}
  .m_foot>dl{width: 100%; height: auto;}
  .m_foot>dl>dt{width: 100%; height: auto;font-size: 0.9rem; color: #fff; font-weight: 900;
                margin-bottom: 1rem;}
  .m_foot>dl>dd{width: 100%; height: auto;font-size: 0.8rem; color: #fff; font-weight: 600;}

   .m_foot>dl>dd>a{display:block; width: 100%; height: 100%; color: inherit;}
   .m_foot>dl>dd>a:hover{text-decoration: underline;}


  .foot>ul>.r_foot{height: 80%;float: right;}
  .r_foot>dl{width: 100%;height: auto;}
  .r_foot>dl>dt{width: 100%; height: auto;font-size: 0.9rem; color: #fff; font-weight: 900;
                margin-bottom: 1rem;}
  .r_foot>dl>dd{width: 100%; height: auto;font-size: 0.8rem; color: #fff; font-weight: 600;}

  .r_foot>dl>dd>a{display:block; width: 100%; height: 100%; color: inherit;}
  .r_foot>dl>dd>a:hover{text-decoration: underline;}
 
  .Copyright{color: #fff; font-size: 0.8rem; text-align: center;} 

}