 
@media screen and (max-width:480px) {
  #footBox{width: 100%; height: 350px; background-color: #121212;}

    .l_foot>.sns{display: none;}
    .foot>ul>.r_foot{display: none;}

  .foot{box-sizing: border-box; padding-top: 5rem; margin:auto;
        width:90%; height: 100%;}
  .foot>ul{width: auto; height: 80%; margin : auto;}

  .foot>ul>.l_foot{width: 100%; height: auto; margin: auto; }
  .l_foot>h2{height:80px; width: 150px; margin-top: 2rem;
              background-image: url("../../../../../img/main/lush_logo.png");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;}

  .foot>ul>.m_foot{height: auto; width: auto; margin:auto;}
  .m_foot>dl{width: auto; height: 100%}
  .m_foot>dl>dt{width: auto; height: 100% ;font-size: 0.9rem; color: #fff; font-weight: 900;
                margin-bottom: 1rem;}
  .m_foot>dl>dd{width: auto; height: 100%;font-size: 0.8rem; color: #fff; font-weight: 600;}

   .m_foot>dl>dd>a{display:block; width: 100%; height: 100%; color: inherit;}
   .m_foot>dl>dd>a:hover{text-decoration: underline;}


   .Copyright{color: #fff; font-size: 0.7rem; text-align: center;} 
}